/public/docs 
/public/vendor 
/node_modules
/public/hot
/public/storage
/public/php_errors.log
/storage/*.key
/resources/docs 
/resources/views/scribe
/vendor
.env
.env.backup
.phpunit.result.cache
php_errors.log
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
